/*General*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
</style>
*{ 
    margin: 0; 
    padding: 0; 
}
body{
    

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}
p{
    color:rgb(85,85,85);
}
a,btn{
    transition:all 300ms ease;
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
    text-decoration-color: white;

}
a:hover{
    color: purple;
    text-decoration: underline;
    text-decoration-color: purple;
}
.logo{
    font-size: 2.25rem;
    


}
.logo:hover{
    cursor: default;
}